<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <!--<configSections>
    <section name="nlog" type="NLog.Config.ConfigSectionHandler, NLog"/>
  </configSections>
  <nlog>
  </nlog>-->
  <appSettings>


    <add key="TraxDIFTPTestMode" value="remote"/>
    <add key="TraxDIMaxRetryAttempts" value="3"/>
    
    <add key="TraxDILocalStagePath" value="C:\work\temp\trax\TraxDIStage"/>
    <add key="TraxDILocalFTPPath" value="C:\work\temp\trax\TraxDILocalFTP"/>
    <add key="TraxDILocalArchivePath" value="C:\work\temp\trax\TraxDILocalArchive"/>
   
    <add key="TraxDIFTPStagePath" value="TraxDIStage"/>    
    <add key="TraxDIFTPServer" value="ftp://spec-web02.specproperty.local"/>
    <add key="TraxDIFTPUser" value="traxis"/>
    <add key="TraxDIFTPPwd" value="letsmaketrax"/>
   
  </appSettings>


  <connectionStrings>

   
    <add name="TraxConnectionString" connectionString="Data Source=192.168.2.253;Initial Catalog=Darwin-dev;User ID=sa ; Password = trandts@2013" providerName="System.Data.SqlClient"/>

  </connectionStrings>
</configuration>