<?xml version="1.0" encoding="utf-8" ?>

<nlog xmlns="http://www.nlog-project.org/schemas/NLog.xsd" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance">
  <!--<variable name="logDirectory" value="${basedir}/logs/${shortdate}"/>-->
  <variable name="logDirectory" value="${basedir}/logs"/>
  <variable name="brief" value="${longdate} | ${level} | ${logger} | ${message}"/>
  <variable name="verbose" value="${longdate} | ${machinename} | ${processid} | ${processname} | ${level} | ${logger} | ${message}"/>

  <targets>
    <!--<target name="f1" xsi:type="File" fileName="${logDirectory}/file1.txt"/>-->
    <target name="f1" xsi:type="File" fileName="${logDirectory}/DataIntegration_${shortdate}.log" layout="${brief}" />
    <!--<target name="f1" xsi:type="File" fileName="file1.txt"/>-->
    <!--<target xsi:type="Console"
          name="String"
          layout="Layout"
          footer="Layout"
          header="Layout"
          error="Boolean" />-->
    <target xsi:type="ColoredConsole" name="console"
                layout="${brief}"/>
  </targets>

  <rules>
    <logger name="*" writeTo="f1" />
    <logger name="*" writeTo="console" />
  </rules>

</nlog>
