<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
    </configSections>
    <connectionStrings>
        <add name="specp.Domain.Properties.Settings.Darwin_DevConnectionString"
            connectionString="Data Source=tserver;Initial Catalog=Darwin-Dev;User ID=sa"
            providerName="System.Data.SqlClient" />
    </connectionStrings>
</configuration>